<div class="col-md-6 offset-md-3">
  <h1>Create Employee </h1>

  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label> Fisrt Name</label>
        <input type="text" class="form-control"
          id="fisrtName" [(ngModel)]="employee.firstName" name="fisrtName">

          <label> Last Name</label>
        <input type="text" class="form-control"
          id="lastName" [(ngModel)]="employee.lastName" name="lastName">

          <label> Email ID</label>
        <input type="text" class="form-control"
          id="emailId" [(ngModel)]="employee.emailId" name="emailId">
    </div>

    <button class="btn btn-success" type="submit">Submit</button>
  </form>
</div>
